.ParentDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 80rem;
    margin: auto;
}

.Block {
    padding:15px;
}


.ParentDiv > div{
    margin: 2.5px 2.5px; 
}


.Month-Container{
    width: 100rem;
    margin: auto;
    border: 3px solid grey;
}